doctype html
html
	head 
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Indie+Flower", rel="stylesheet")
		script(src='/js/main.js')
	body
		h1 Bulletin Board
		br
		p All messages
		div#messages
			ul
				each message in messages
					li.title=message.title
					li.body=message.body
					br
		br
		a.button(href='/') BACK
